.aboutMe {
	height: 837px;
	padding: 117px 0 117px 0;
	&__container {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		
		column-gap: 70px;
		grid-template-areas: 
		"photo titleBlock titleBlock"
		"photo skills skills"
		"photo skills skills";
	}
	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -5px;
			left: -2%;
			width: 36px;
			height: 36px;
			border-radius: 100%;
			background: $main-color;
	   } 
	   
	}
	&__subtitle {
		margin-top: px;
		font-weight: bold;
		font-size: 36px;
		line-height: 60px;
		color: #000000;
	}
	&__divider {
		width: 60px;
		height: 0px;
		border: 3px solid #FFA501;
	}
	&__text {
		margin-top: 20px;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: #000000;
	}
	
	&__photo {
		width: 400px;
		height: 600px;		
		grid-area: photo;
	}

	&__titleBlock {
		position: relative;
		width: 570px;
		grid-area: titleBlock;
	}

	&__skills{	
		margin-top: 40px;	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		grid-area: skills;
		width: 600px;
	
		&__block {	
			@include before_circle_aboutMe;
			margin-bottom: 20px;
			position: relative;		
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 260px;
						
		}
		&__title {
			font-weight: bold;
			font-size: 14px;
			color: #000000;
		}
		&__text {
			width: 200px;
			font-weight: 500;
			margin-top: 6px;
			margin-left: 60px;
			font-size: 12px;
			line-height: 18px;
			color: #000000;
		}
		&__icon {	
			width: 25px;
			height: 25px;		
			margin-right: 35px;	

			
			
	
			
			
		
		
		}
	}
	

}
