@media (max-width: 1439px) {
	.sidepanel {
		display: none;
	}

}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.sidepanel {
		display: none;
	}
	.aboutMe {
		padding: 20px;
		margin-top: 40px;
		&__titleBlock {
			position: relative;
			width: 470px;
		} 
		&__container {
			column-gap: 35px;
		} 
		&__skills {
			width: auto;
			justify-content: unset;
			&__text {
				width: 170px;
			}
		}  
	} 
	.resume {
		padding: 0;
		&__wrapper {
			column-gap: 0;
		} 
	} 
	.skills {
		padding: 50px 10px;
		
		&__wrapper {
			margin-top: 40px;
			grid-template-columns: repeat(3,270px);
			grid-template-rows: repeat(3,270px);
			grid-auto-rows: 270px;
		}
		&__percentage {
			margin-top: 40px;
			grid-template-columns: repeat(3,300px);
			grid-template-rows: repeat(2,70px);
			gap: 40px 25px;			
		}
	} 
	.portfolio {
			padding-top: 30px;
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: space-around;
			row-gap: 35px;
			.horizontal, .vertical {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
	.price {
		&__wrapper {
			grid-template-columns: repeat(auto-fill, 366px);			
			grid-template-rows: repeat(6, 55px);
			grid-auto-rows: 44px;
			column-gap: unset;
			justify-content: space-around;
		}
	}
	.contacts {
		padding: 10px 0 90px 0;
		&__wrapper {
			grid-template-columns: 250px 585px;
		}
	}		
}

@media (max-width: 992px) {
	.container {
		max-width: 720px ;
	}
	.aboutMe {
		height: 760px;
		&__titleBlock {
			width: 400px;
		}
		&__container {
			column-gap: 30px;
		}
		&__photo {
			width: 300px;
			height: 500px;
			object-fit: cover;
		}
		&__text {
			line-height: 18px;
		}
		&__skills {
			&__block {
				width: 400px;
			}
			&__text {
				width: 400px;
			}
		}
	}
	.resume {
		padding: 0;
		&__wrapper {
			grid-template-columns: 690px;
			padding: 20px 15px;
		}
	}
	.skills {
		padding: 50px 10px;
		&__subtitle {
			font-size: 24px;

		}
		&__wrapper {
			margin-top: 40px;
			grid-template-columns: repeat(3,230px);
			grid-template-rows: repeat(3,270px);
			grid-auto-rows: 270px;
		}
		&__percentage {
			margin-top: 40px;
			grid-template-columns: repeat(2,300px);
			grid-template-rows: repeat(3,70px);
			gap: 40px 100px;			
		}
	}
	.portfolio {
		padding-top: 30px;
	}
	.contacts {
		&__photo {
			display: none;
		}
	}     	
}

@media (max-width: 768px) {
	.container {
		max-width: 540px ;
	}
	.title {        
		&_fz48 {
			font-size: 28px;
		}
	}
	.promo {
		&__title {
			line-height: 39px;
			width: 400px;
		}
	}
	.aboutMe {
		height: auto;
		&__container {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: 550px auto auto;
			grid-template-areas: 
			"photo"
			"titleBlock"
			"skills";
			
		 }
		&__skills {
			&__block {
				width: 260px;
			}
			&__text {
				width: 170px;
			}

		}
		&__titleBlock {
			 width: 525px;
		   
		}
		&__photo {
			margin: 0 auto;
			width: 500px;
		}
	}
	.resume {
		padding: 0;
		&__wrapper {
			grid-template-columns: 480px;
			padding: 20px 15px;
		}
		&__subtitle {
			font-size: 24px;
		}
		
	}
	.divider-middle {
		margin: 15px auto;
	}
	.skills {
		padding: 50px 10px;
		&__subtitle {
			font-size: 24px;

		}
		&__wrapper {
			margin-top: 40px;
			grid-template-columns: repeat(2,270px);
			grid-template-rows: repeat(4,270px);
			grid-auto-rows: 270px;
		}
		&__percentage {
			margin-top: 40px;

			grid-template-columns: repeat(2,260px);
			grid-template-rows: repeat(3,70px);
			gap: 40px 20px;

			
		}
	} 
	.portfolio {
		padding-top: 40px;
	} 
	.price {
		&__wrapper {
			row-gap: 20px;
			&__card {
				padding-left: 0;
				
			}
		}
	} 
	.contacts {
		padding: 30px 0 20px 0;
		&__photo {
			display: none;
		}
		&__wrapper {
			padding: 10px 10px;
		}
		&__form {
			grid-template: 45px 190px 45px / repeat(2,264px);

		}
	}  
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
	}
	.promo {
		background: url('../img/main_bg.jpg') no-repeat 78%/cover;
		&__title {
			line-height: 39px;
			width: 300px;
		}
		&__btns {
			margin-top: 30px;
		}
	}
	.hamburger {
		right: 20px;
	} 
	.menu {
		&__block {
			width: 250px;
			padding-left: 10px;
		}
	}
	.title {        
		&_fz48 {
			font-size: 26px;
		}
	}
	.aboutMe {
		height: auto;
		&__container {		
			grid-template-rows: 350px auto auto;
		}
		&__skills {
			margin: 20px 40px;
			&__block {
				width: 260px;
			}
			&__text {
				width: 185px;
				font-size: 12px;
			}
		}
		
		&__titleBlock {
			 width: 300px;
		     margin: 0 auto;
		}
		&__photo {
			margin: 0 auto;
			height: 300px;
			width: 310px;
		}	

	}
	.resume {
		padding: 0;
		&__wrapper {
			grid-template-columns: 280px;
			padding: 15px;
		}
		&__subtitle {
			font-size: 24px;
		}
	}
	.divider-middle {
		margin: 15px auto;
	} 
	.skills {
		&__subtitle {
			font-size: 24px;
			line-height: 30px;

		}
		&__wrapper {
			margin-top: 20px;
			grid-template-columns: repeat(1,270px);
			grid-template-rows: repeat(7,270px);
			grid-auto-rows: 270px;
		}
		&__percentage {
			margin-top: 40px;

			grid-template-columns: repeat(1,280px);
			grid-template-rows: repeat(6,70px);
			gap: 40px 0;

			
		}
	}  
	.price {
		&__wrapper {
			margin: 20px 10px;
			grid-template-columns: repeat(auto-fill, 250px);
		}
	}
	.contacts {
		&__wrapper {
			padding: 0;
		}
		&__subtitle {
			font-size: 24px;
		}
		&__photo {
			display: none;
		}
		&__form {			
			grid-template-columns: 300px;
			grid-template-rows: 45px 45px 150px 100px ;
					
		}
		&__triggers {
			grid-column: 1;
			grid-template-columns: auto;
			justify-content: center;
			
		}
		&__textarea {
			grid-column: 1;
		}
	}
	

}