@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }

}

@media (max-width: 1200px) {
    .container {
        max-width: 960px ;
    }
    .sidepanel {
        display: none;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px ;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px ;
    }
    .title {        
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 400px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 78%/cover;
        &__title {
            line-height: 39px;
            width: 300px;
        }
        &__btns {
            margin-top: 30px;
        }
    }
    .hamburger {
        right: 20px;
    } 
    .menu {
        &__block {
            width: 250px;
            padding-left: 10px;
        }
    }
    .title {        
        &_fz48 {
            font-size: 26px;
        }
    }   
}