.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        color: #fff;
        text-shadow: 1px 1px 1px #000; 
        width: 700px;
        margin-top: 10px;
    }
    &__subtitle {
        color: #fff;
        text-shadow: 1px 1px 1px #000; 
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
        
    }
    &__btns {
        text-shadow: 1px 1px 1px #000; 
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;        
    }
    &__link {
         color: #fff;
        font-weight: bold;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}